<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta charset="UTF-8">
  <title>
    <%= title %>_黄继鹏的博客</title>
  <meta name="keywords" content="黄继鹏,继小鹏,黄继鹏的博客,博客,<%= title %>">
  <meta name="description" content="<%= title %>、教程、总结、笔记、技术分享、随手记录我的每一个思想、做研究者而非畅想者、编程之路、用代码改变世界">
  <link href="/images/logo_ioc.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
  <link rel="stylesheet" href="/localibs/docsify/docsify.css">
  <style>
  .sidebar-nav-parent-li {
    position: relative;
  }

  .sidebar-nav {
    padding-right: 10px;
  }

  .sidebar-nav .ul-after {
    content: '';
    width: 10px;
    height: 30px;
    /* background: red; */
    position: absolute;
    right: 10px;
    top: 0px;
    display: flex;
    align-items: center;
  }

  .ul-after-sanjiao {
    width: 0;
    height: 0;
    border-left: 8px solid #cecece;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    transition: transform 0.3s;
    position: relative;

  }

  .ul-after-sanjiao::after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: -8px;
    left: -11px;
    border-left: 8px solid #fff;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
  }

  .ul-after-sanjiao:hover {
    border-left: 8px solid #42b983;
  }

  .sidebar-nav-parent-li-shouqi .ul-after-sanjiao {
    transform: rotate(90deg);
    transition: transform 0.3s;
  }
  </style>
</head>

<body>
  <nav>
    <div class="nav">
      返回：
      <a href="/">黄继鹏的博客</a>
      ｜
      <a href="/wikiList">书</a>
    </div>
  </nav>
  <div id="app"></div>
  <script>
  window.$docsify = {
    basePath: '/',
    homepage: '/wikiId/<%=wikiId%>',
    name: '<%= title %>',
    plugins: [
      function(hook) {
        hook.doneEach(function() {

          let max_cengji = 1; //默认展开层级深度
          //添加箭头
          $('.sidebar-nav').find('li').each(function(i, e) {
            var el = e;
            if (el.nextSibling && el.nextSibling.tagName == 'UL') {
              $(el).addClass('sidebar-nav-parent-li').append(
                "<div class='ul-after'><div class='ul-after-sanjiao'></div></div>");
            }
          })

          //初始时候展开层级

          function find_children_li(dom, current_cengji) {
            if (dom) {
              current_cengji++;

              $($(dom).find('li').each(function(i, e) {
                var el = e;
                if (el.nextSibling && el.nextSibling.tagName == 'UL') {
                  if (current_cengji >= max_cengji) {
                    $(el.nextSibling).hide();
                    $(el).addClass('sidebar-nav-parent-li-shouqi');
                  }
                  find_children_li(el.nextSibling, current_cengji);
                }
              }))
            } else {
              return
            }
          }

          find_children_li($('.sidebar-nav')[0], 0);

          var sidebarLiEls = document.querySelectorAll('.sidebar-nav li')
          sidebarLiEls.forEach(function(el) {
            if (el.classList.contains('active')) {
              find_parent_li(el)
            }
          })

          // 自下而上找出父元素展开
          function find_parent_li(el) {
            if (el.parentNode.previousSibling && el.parentNode.previousSibling.tagName == 'LI') {
              $(el.parentNode).show();
              $(el.parentNode.previousSibling).removeClass('sidebar-nav-parent-li-shouqi');
              find_parent_li(el.parentNode.previousSibling)
            } else {
              return
            }
          }

          window.addEventListener('scroll', function(e) {
            // find_children_li($('.sidebar-nav')[0], 0);
            var sidebarLiEls = document.querySelectorAll('.sidebar-nav li')
            sidebarLiEls.forEach(function(el) {
              if (el.classList.contains('active')) {
                find_parent_li(el)
              }
            })
          }, false)

          //绑定事件
          $('.ul-after-sanjiao').on('click', function(e) {
            e.stopPropagation();
            e.preventDefault();
            var el = e.target.parentNode.parentNode.nextSibling;
            if (el) {
              $(el).toggle();
              if ($(e.target.parentNode.parentNode).hasClass('sidebar-nav-parent-li-shouqi')) {
                $(e.target.parentNode.parentNode).removeClass('sidebar-nav-parent-li-shouqi');
              } else {
                $(e.target.parentNode.parentNode).addClass('sidebar-nav-parent-li-shouqi');
              }
            }
          })
        })
      }
    ]
  }
  </script>
  <script src="/libs/jquery/dist/jquery.min.js"></script>
  <script src="/localibs/docsify/docsify.js"></script>
</body>

</html>